<title>Cadastrando Jogadores</title>
<h1>Cadastro de Jogador</h1>
<p>Obs: NOME e TIME, não poderão ser alterados!</p>

<form action="/insereJogadores" method="post">
  <label for="nome">Nome:</label>
  <input type="text" name="nome" required><br>

  <label for="time">Time:</label>
  <input type="text" name="time" required><br>

  <label for="idade">Idade:</label>
  <input type="number" name="idade" required><br>

  <label for="aceleracao">Aceleração:</label>
  <input type="number" name="aceleracao" required><br>

  <label for="velocidadeSprint">Velocidade de Sprint:</label>
  <input type="number" name="velocidadeSprint" required><br>

  <label for="finalizacao">Finalização:</label>
  <input type="number" name="finalizacao" required><br>

  <label for="forcaChute">Força do Chute:</label>
  <input type="number" name="forcaChute" required><br>

  <label for="chutesLongos">Chutes Longos:</label>
  <input type="number" name="chutesLongos" required><br>

  <label for="penaltis">Pênaltis:</label>
  <input type="number" name="penaltis" required><br>

  <label for="visao">Visão:</label>
  <input type="number" name="visao" required><br>

  <label for="cruzamentos">Cruzamentos:</label>
  <input type="number" name="cruzamentos" required><br>

  <label for="agilidade">Agilidade:</label>
  <input type="number" name="agilidade" required><br>

  <label for="equilibrio">Equilíbrio:</label>
  <input type="number" name="equilibrio" required><br>

  <label for="dribles">Dribles:</label>
  <input type="number" name="dribles" required><br>

  <button type="submit">Cadastrar Jogador</button>
</form>