<title>Consultando Jogadores</title>
<h1>Consulta de Jogadores</h1>

<form action="/jogadores" method="post">
  <label for="nome">Nome do Jogador:</label>
  <input type="text" name="nome" placeholder="Informe o nome do jogador"><br>

  <label for="time">Nome do Time:</label>
  <input type="text" name="time" placeholder="Informe o nome do time"><br>

  <button type="submit">Buscar Jogadores</button>
</form>